@import url( "/node_modules/bootstrap-icons/font/bootstrap-icons.css");
.list-categories{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}




img{
  max-width: 100%;
}

h2{
  font-size: 20px;
}